@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --color: #e6e6e6;
    --title-color: #ffffff;
    --bg-color: #505050;
    --code-bg-color: #2d323f;
    --code-border-color: #8f8f8f;
}

.memo *{
    margin-bottom: 1rem;
}

/* titles */

.memo h1, .memo h2, .memo h3, .memo h4, .memo h5, .memo h6{
    color: var(--title-color);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.memo h1{
    font-size: 2rem;
    line-height: 2.5rem;

}

.memo h2{
    font-size: 1.5rem;
    line-height: 2rem;

}

.memo h3{
    font-size: 1.25rem;
    line-height: 1.75rem;

}

.memo h4{
    font-size: 1rem;
    line-height: 1.5rem;

}

.memo h5{
    font-size: 0.875rem;
    line-height: 1.25rem;

}

.memo h6{
    font-size: 0.75rem;
    line-height: 1rem;

}

/* paragraphs */

.memo p , .memo ol, .memo li, .memo ul, .memo blockquote{
    color: var(--color);
    font-weight: 400;
    margin-bottom: 0.25rem;
}

.memo p{
    font-size: 1rem;
    line-height: 2rem;
    display: inline;
}

.memo ol, .memo li, .memo ul, .memo blockquote{
    line-height: 1.5rem;
}

.memo ul{
    font-size: 1rem;
    line-height: 1.5rem;
}

.memo ol{
    font-size: 1rem;
    line-height: 1.5rem;
}

.memo li{
    font-size: 1rem;
    line-height: 1.5rem;
}

.memo blockquote{
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.memo .inline-code{
    background-color: var(--code-bg-color);
    border: 1px solid var(--code-border-color);
    border-radius: 0.2rem;
    padding: 0.25rem;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
}